* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #2a2f32
}

img {
    max-width: 100%;
}

.navbar {
    padding: 0;
}

.navbar > a{
    color:black
}

.container-fluid {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.titulo {
    font-family: 'Mochiy Pop P One', sans-serif;
    color: #fff;
    text-decoration: underline;
    margin-left: 38%;
    margin-block:2%;

}

#form1{
    margin: 70px;
    width: 90%;
}

.subTitulos {
    font-size: 150%;
    color: #fff;
    margin-left: 5%;    
    margin-block: 1%;
}

.nuevoRegistro {
    margin-left: 15px;
}

.Estado{
    margin-right: 10px;
}

.texto {
    color: #fff;
    margin-left: 2%;
    margin-right: 2%;
    display: inline
}

.row{
    margin:15px;
}

.textBoxBig{
    height: 60px;
    width: 480px;
}

.textBoxSmall{
    width:10px;
    height:30px;
}

#btnGuardar{
    margin-left:15px;
    margin-right:15px
}